@import "styles/normalize";
@import "styles/post-grid";
@import "styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600&display=swap');

@mixin roboto-medium {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

@mixin roboto-semibold {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

@mixin georgia-regular {
  font-family: 'Georgia', serif;
}

html {
  background-color: #efefef;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.post {
  min-height: 184px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: $post-bg;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .24), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  transition: .2s ease-out transform;
  margin: 10px;

  &:hover,
  &:focus,
  &:focus-within {
    transform: translateY(-3px);

    .post__background-image {
      opacity: 0;
    }

    .post__title {
      text-decoration: underline;
    }

    .post__background-image--aberrated {
      opacity: 1;
    }


  }

  &__link,
  &__background-image,
  &__gradient-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__link {
    display: block;
    cursor: pointer;
    z-index: 3;
  }

  &__background-image,
  &__gradient-overlay {
    z-index: 1;
  }

  &__content {
    position: relative;
    padding: 16px;
    z-index: 2;

  }

  &__background-image {
    object-fit: cover;
    object-position: bottom left;
    width: 100%;
    height: 100%;
    transition: .2s ease-out opacity;
    opacity: 1;

    &--aberrated {
      opacity: 0;
      -webkit-filter: url(#abb);
    }
  }

  &__gradient-overlay {
    background-color: $post-gradient-overlay;
    opacity: .46;
  }

  &__date,
  &__title {
    @include roboto-medium();
    color: $post-text-color;
  }

  &__date {
    margin: 0;
    font-size: 1.3rem;
    opacity: .75;
    line-height: 1.4;
  }

  &__title {
    margin-top: 14px;
    line-height: 1.35;
    font-size: 2.1rem;
  }
}

