@import "styles/global";

.home {
  padding: 80px 0 10px;

  &__content {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
  }
}

.header {
  &__title {
    @include roboto-semibold();
    font-size: 5.5rem;
  }

  &__description {
    @include roboto-medium();
    font-size: 5.5rem;
  }
}