@import "styles/variables";

.post-grid {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: stretch;

  .post {
    flex: 0 1 100%;

    @media screen and (min-width: $bp-phablet) {
      flex: 1 1 40%;
    }
  }

  &--post-page {


    @media screen and (min-width: $bp-tablet) {
      max-width: 800px;
      margin: 0 auto;
      padding: 10px 0 80px;
    }
  }
}