@import "styles/global";
@import "styles/variables";

$text-color: #212121;

.code-block {
  padding: 20px !important;
  border-radius: 4px !important;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .24), 0px 1px 3px 0px rgba(0, 0, 0, .12);

  @media screen and (min-width: $bp-tablet) {
    padding: 30px !important;
    border-radius: 14px !important;
  }
}

.blog-post {
  max-width: 680px;
  color: $text-color;
  padding: 16px;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
   padding: 0;
    margin: 50px auto 0;
  }

  h1 {
    @include roboto-semibold;
    font-size: 3rem;
    letter-spacing: -.58px;
    line-height: 1.3;

    @media screen and (min-width: $bp-tablet) {
      font-size: 3.6rem;
      letter-spacing: -.7px;
      line-height: 1.3;
    }

    &:first-child {


      @media screen and (min-width: $bp-tablet) {
        font-size: 4rem;
        letter-spacing: -.7px;
        line-height: 1.4;
      }
    }
  }

  code:not([class^='language-']) {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 3px 2px;
    border-radius: 4px;
  }

  h2 {
    @include roboto-semibold;
    font-size: 2.3rem;
    letter-spacing: -.45px;
    line-height: 1.39;

    @media screen and (min-width: $bp-tablet) {
      font-size: 2.7rem;
      letter-spacing: -.53px;
      line-height: 1.18;
    }
  }

  h3 {
    @include roboto-medium;
    font-size: 2.3rem;
    letter-spacing: -.45px;
    line-height: 1.39;
    opacity: .6;

    @media screen and (min-width: $bp-tablet) {
      font-size: 2.3rem;
      letter-spacing: -.45px;
      line-height: 1.4;
    }
  }

  blockquote {
    padding: 0 32px;
    margin: 0;
    border-left: 6px solid #f9c1049e;

    p {
      font-size: 2.1rem;
      font-style: italic;
      margin: 0;
    }
  }

  p,
  ul,
  li,
  a,
  a:visited,
  a:-webkit-any-link {
    opacity: .9;
    @include georgia-regular;
    line-height: 1.6;
    font-size: 1.8rem;
    color: $text-color;
    letter-spacing: .5px;

    @media screen and (min-width: $bp-tablet) {
      line-height: 2;
      font-size: 2.1rem;
    }
  }

  code {
    line-height: 1.6;
    font-size: 1.8rem;

    @media screen and (min-width: $bp-tablet) {
      line-height: 1.5;
      font-size: 2.1rem;
    }
  }

  img {
    width: 100%;
    border-radius: 4px;
  }
}