<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{{metadata.title}}</title>
        <link rel="stylesheet" href="https://rawgit.com/PrismJS/prism-themes/master/themes/prism-duotone-earth.css" />
        <style>
                {{{styles}}}
        </style>
    </head>
    <body>
        <div class="blog-post">
            {{{content}}}
        </div>

        <ul class="post-grid post-grid--post-page">
            {{#with previousPost}}
                {{> postPreview}}
            {{/with}}

            {{#with nextPost}}
                {{> postPreview}}
            {{/with}}
        </ul>


    </body>
</html>