<li class="post">
    <img
            loading="lazy"
            alt=""
            class="post__background-image"
            src="https://i.imgur.com/XdXW24O.png"
            srcset="{{imageUrl}}, {{imageUrl2x}} 2x"
    />
    <img
            loading="lazy"
            alt=""
            class="post__background-image post__background-image--aberrated"
            src="https://i.imgur.com/XdXW24O.png"
            srcset="{{imageUrl}}, {{imageUrl2x}} 2x"
    />
    <div style="background-color: {{color}};" class="post__gradient-overlay" ></div>
    <div class="post__content">
        <p class="post__date">{{formattedDate}}</p>
        <h2 class="post__title">
            {{title}}
        </h2>
    </div>
    <a class="post__link" href="{{link}}"></a>
</li>